{{ define "header" }}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="Header Container">
        <div class="HeaderInfo">
            <div class="HeaderInfoLeft">
            <a href="/" class="logo">                        
                <div><b>BEST</b>ItEvsey</div>
                <span>Your IT partner</span>
            </a>
            </div>
            <div class="HeaderInfoRight">
                <button class="Header_buttons"><a href="/"><p>Main</p></a></button>
                <button class="Header_buttons"><a href="/viewAllLogs/"><p>View</p></a></button>
                <button class="Header_buttons"><a href="/search/"><p>Search</p></a></button>
            </div>
        </div>
    </div>

{{ end }}