{{ define "index" }}

{{ template "header" }}
    <main class="Main Container">
        <div class="main_content">
            <div class="Main_logo">
                <img src="../static/img/atom-svgrepo-com.svg" alt="">
            </div>
            <div class="main_content_index">
                <h1>ItEvsey welcomes you</h1>
                <h3>Logs it is easy</h3><br>
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Cum exercitationem 
                    doloribus soluta consequatur 
                    dolores temporibus modi amet adipisci 
                    quibusdam veritatis ipsa neque, 
                    praesentium natus veniam!</p>
                <a href="/moreInfo/">lear more...</a>
            </div>
        </div>
    </main>
{{ template "footer" }}

{{ end }}