{{ define "moreInfo" }}

{{ template "header" }}

        <main class="Main Container">
            <div class="moreInfo_content">
                <div class="Main_logo">
                    <img src="../static/img/info-circle-svgrepo-com.svg" alt="">
                </div>
                <div class="main_content_moreInfo">
                    <h1>Log parser</h1><br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Voluptates non quia sapiente numquam, repudiandae explicabo? 
                        Corporis fugit dicta eum voluptate itaque, mollitia, repellat 
                        molestias illo laboriosam perspiciatis eaque atque rem, soluta 
                        quidem. Nisi corrupti voluptates, aut delectus porro iste autem 
                        necessitatibus at dolor praesentium culpa rerum, repellendus 
                        quisquam quod omnis quas cumque asperiores deserunt quidem 
                        nesciunt tempore? Minus, itaque dolores ut officiis quisquam 
                        perferendis consequatur dolorum rerum consequuntur voluptatem 
                        enim modi sunt commodi repudiandae sit dolorem voluptas tenetur 
                        doloribus. Nobis soluta voluptatibus suscipit molestiae, atque 
                        ullam cupiditate distinctio cum iure cumque ad ex quisquam provident 
                        possimus, beatae officia reiciendis nulla autem. Aliquid, sed asperiores. 
                        Officia repellat magni dolore? Obcaecati esse, neque, ducimus placeat 
                        dignissimos iusto et corporis temporibus blanditiis ipsum voluptate 
                        ipsam tenetur? Tempore harum natus voluptate blanditiis consectetur 
                        ratione, eaque, illo culpa mollitia minima repellat, aperiam 
                        repellendus corrupti fuga sequi libero et incidunt iste reiciendis. 
                        Illum accusantium hic earum delectus deserunt magni temporibus, 
                        obcaecati sapiente doloribus a alias animi maxime facere neque 
                     </p>
                </div>
            </div>
        </main>

{{ template "footer" }}

{{ end }}