{{ define "notFoundLogs" }}

{{ template "header" }}
            <main class="Main Container">
                <div class="OneLog_content">
                    <h1>Unfortunately, we didn't find anything.</h1>
                    <button class="OneLog_content_buttons"><a href="/viewAllLogs/">Go back to the list of logs</a></button>
                    <button class="OneLog_content_buttons"><a href="/search/">Go back to the search engine</a></button>
                </div>
            </main>
{{ template "footer" }}

{{ end }}